<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CRUD</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>  
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
        <a class="navbar-brand"  style="color: white" >Like Lion</a>
        </div>
    </nav>
    <div class="container jumbotron">
        {% block content %}

        {% if error %}
        {{ error }}
        <br>
        <br>
        {% endif %}

        <h1>로그인</h1>

        <form method="POST" action="{% url 'login'%}">

            {% csrf_token %}
            Username:
            <br>
            <input name="username" type="text" value="">
            <br>
            Password:
            <br>
            <input name="password" type="password" value="">
            <br>
            <br>
            <input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        {% endblock %}
    </div>
</body>